/* common section start */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: 0;
}

.btn-primary {
    border-radius: 6px;
    background: #FF900E;
    font-size: 1.25rem;
    color: #FFFFFF;
    border: none;
    padding: 1.25rem 1.5rem;
    cursor: pointer;
}
/* common section end */

/* header section start */
header {
    background: #ff900e1a;
    padding-left: 8.75rem;
    padding-right: 8.75rem;
    max-width: 90rem;
}
/* header section end */

/* nav section start */
.navbar-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
    gap: 3rem;
}

nav li {
    list-style: none;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}
/* nav section end */

/* banner section start */
.banner {
    padding-bottom: 2.8rem;
}

.banner-items {
    text-align: center;
    max-width: 47.5rem;
    margin: 0 auto 2.75rem;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    margin-bottom: 2rem;
}

.banner-description {
    margin-bottom: 2rem;
}

.banner img {
    width: 100%;
}
/* banner section end */

/* responsive section start */

/* mobile device start */
@media screen and (max-width: 575px) {
    header {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .navbar-items {
        flex-direction: column;
    }

    .navbar-brand {
        font-size: 2rem;
    }

    nav li {
        font-size: .75rem;
    }

    nav>ul {
        font-size: .5rem;
        gap: 1rem;
        padding-left: 0;
    }

    .banner-title {
        color: #131313;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .banner-description {
        font-size: .75rem;
        padding-left: 2.75rem;
        padding-right: 2.75rem;
    }

    .btn-primary {
        font-size: 1rem;
        padding: 1rem 1rem;
    }
}
/* mobile device end */

/* medium device start */
@media screen and (min-width: 576px) and (max-width: 991px) {
    header {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .navbar-items {
        flex-direction: column;
    }

    .navbar-brand {
        font-size: 2rem;
    }

    nav li {
        font-size: .75rem;
    }

    nav>ul {
        font-size: .5rem;
        gap: 1rem;
        padding-left: 0;
    }

    .banner-title {
        color: #131313;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .banner-description {
        font-size: .75rem;
        padding-left: 2.75rem;
        padding-right: 2.75rem;
    }

    .btn-primary {
        font-size: 1rem;
        padding: 1rem 1rem;
    }
}
/* medium device end */

/* responsive section end */
